body {
background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=ales-nesetril-Im7lZjxeLhg-unsplash.jpg');

}

.wallpaper {
  background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=jeremy-bishop-G9i_plbfDgk-unsplash.jpg');
  background-size:115% 130%;
  background-repeat: no-repeat;
}

header {  
  box-sizing: border-box;
}


 #menu {
   position: fixed;
   z-index: 2;
   display: inline-block;
   width: 100%;
   top: 0.5px; left: 5px;
   
 } 

.container1 {
    margin: 10px auto;
    height: 100px;
    display: flex;
    justify-content:right;
    position: relative;
    bottom: 145px; right: 500px;
}
  
.row {
    width: 1000px;
    display: inline-block;
    justify-content: center;
    align-items:center;
}
  
.board {
    margin: 10px;
    height: 200px;
    width: calc(100% - 40px);
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.507);
    border-radius: 1em;
    font-size: 1.2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: 50px;
}

.circleheader {
width: 275px;
height: 255px;
border-radius: 50%;
background-color: rgba(117, 117, 117, 0.253);
position: relative;
top: 90px; left: 45px;

}

.stylepdp {
    width: 275px;
    height: 255px;
    position: relative;
    left: 2px;
    border-radius: 80%;
}

.cvbtn {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align:center;
    font-size: 15px;
    padding: 1px;
    width: 80px;
    height: 45px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .cvbtn a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .cvbtn a:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .cvbtn:hover {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  }
  .cvbtn:hover a {
    padding-right: 25px;
  }
  .cvbtn:hover a:after {
    opacity: 1;
    right: 0;
  }

  .styleline {
    width: 250px;
    height: 3px; background-color: rgb(0, 42, 66);
    position: relative;
    left: 790px; top: 500px;
  }

h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #707070;
}

.stylehtml {
width: 13em;
height: 150px;
background-color: rgb(255, 115, 0);
border-radius: 2em;
position: relative;
left: 1450px; top: 850px;
}

h2 {
  position: relative;
  top:30%;
  text-align: center;
  color:black;
}

.stylecss {
  width: 13em;
  height: 150px;
  background-color: rgb(0, 68, 255);
  border-radius: 2em;
  position: relative;
  left: 820px; top: 700px;
}

h3 {
  position: relative;
  top:30%;
  text-align: center;
  color:black;
}

.stylejs {
  width: 13em;
  height: 150px;
  background-color: rgba(255, 238, 0, 0.836);
  border-radius: 2em;
  position: relative;
  left: 75px; top: 550px;
}

h4 {
  position: relative;
  top:30%;
  text-align: center;
  color:black;
}

.stylelineskill {
  width: 250px;
  height: 3px;
  background-color: rgb(0, 42, 66);
  position: relative;
  top:990px; left:810px;
}

h5 {
  text-align: center;
  position: relative;
  top: 30px;
  color: #707070;
}

label {
  padding-right: 15px;
  font-size: 1.2rem;
}

.stylelabel {
  position: relative;
  top:250px; left: 14px;
  color: rgb(160, 160, 160);
}

.stylelabel2 {
  position: relative;
  top:120px; left: 510px;
  color: rgb(160, 160, 160);
}

.stylelabel3 {
  position: relative;
  bottom:5px; left: 1000px;
  color: rgb(160, 160, 160);
}

.stylelabel4 {
  position: relative;
  bottom:139px; left: 1480px;
  color: rgb(160, 160, 160);
}

.stylep1 {
position: relative;
left: 150px; top:25px;
}

.stylep2 {
  position: relative;
left: 135px; top:23px;
}

.stylep3 {
  position: relative;
left: 120px; top:25px;
}

.stylep4 {
  position: relative;
  left: 100px; top:25px;
}

.stylelineskill .styleskill {
font-size: 2em;
}

.barreskill {
  position: relative;
  top: 975px;
}

.stylelineprojet {
  width: 250px;
  height: 3px;
  background-color: rgb(0, 42, 66);
  position: relative;
  top:1350px; left:810px;
}

.stylelineprojet h6 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 1.8em;
  color: #707070;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items:center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
  position: relative;
  top: 1550px; right: 100px;
}

div.item {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: transparent;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

.baritems {
  position: relative;
  top:2169px; left: 950px;
}

div.item:nth-of-type(1) {
  --offset: 1;
 background-image: url('un.png');
 background-repeat: no-repeat;
 background-size: 100% 100%;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-image: url('deux.png');
  background-repeat: no-repeat;
 background-size: 100% 100%;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-image: url('prototype.png');
  background-repeat: no-repeat;
 background-size: 100% 100%;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-image: url('quatre.png');
  background-repeat: no-repeat;
 background-size: 100% 100%;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-image: url('cinq.png');
  background-repeat: no-repeat;
 background-size: 100% 100%;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

.formation {
  width: 250px;
  height: 3px;
  position: relative;
  top: 2150px; left: 750px;
  background-color: rgb(0, 42, 66);
}

#styleformation {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  left: 55px;
  font-size: 1.8em;
  color: #707070;
}

.timeline {
  position: relative;
  top:2300px; right: 100px;
  width: 30%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #ff000044;
  top: 10px;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  right: 50%;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #ff0000;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #300000;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #6e0000;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #f3f3f3;
  border: 2px solid #530000;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  height: 100px;
  background: #410000;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h7 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}


/* .container2  {
  position: absolute;
  left: 150px;
  top: 430px;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 1879px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,51,143,1) 88%, rgba(61,61,61,1) 100%);
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #ffffff;
}

.content1 {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  font-family: 'Merriweather', serif;
}

h10 {
  font-weight: 900;
  text-align: center;
  position: relative;
  left: 15em; bottom: 1em;
  font-size: 3.1em;
  color: white;
}

h11 {
  font-weight: 300;
  font-size: 2.5em;
  position: relative;
  top: 1.5em; left: 5em;
  color: white;
}

h12 {
  font-weight: 300;
  font-size: 2.5em;
  position: relative;
  left: 27em;
  color: white;
}

.flap {
  width: 100%;
  height: 100%;
}

.flap::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") rgb(0, 1, 65);
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") rgb(0, 1, 65);
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.container2:hover .flap::after {
  transform: translatex(800px);
}

.container2:hover .flap::before{
  transform: translatex(-800px);
}

.contact {
  width: 250px;
  height: 3px;
  background-color: rgb(0, 42, 66);
  position: relative;
  top: 2700px; left: 810px;
}

h13 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  position: relative;
  left: 50px;
  font-size: 1.8em;
  color: #707070;
} */

 #placefooter {
   position: relative;
   top: 2500px;
 }

 h10 {
   font-size: 2em;
   position: relative;
   right: 500px;
   color: rgb(255, 255, 255);
 }

 .placep {
   position: relative;
   right: 500px; top: 10px;
   font-size: 1.5em;
   color: rgb(255, 255, 255);
 }

 .text-dark {
   position: relative;
   right: 500px;
   font-size: 1.5em;
   color: rgb(255, 255, 255);
   background-color: rgb(189, 189, 189);
 }

 .text-center {
   color: white;
 }

